@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --color-text: black;
  --color-bg: white;
  --color-body: radial-gradient(circle, #c7e360, #b59c84, #b4c4c7);
  --color-border1: #6100ffe3;
  --color-border2: #ab3027;
  --color-border: linear-gradient(to right, #6100ffe3, #ab3027);
  --background-image: url("/assets/abdul-intro-black.webp");
}

.nuit {
  --color-text: white;
  --color-bg: #151d2a;
  --color-body: #151d2a;
  --color-border1: #c0bb36;
  --color-border2: #6100ffe3;
  --color-border: linear-gradient(to right, #c0bb36, #6100ffe3);
  --background-image: url("/assets/abdul-intro-white.webp");
}

@keyframes mouse_scroll {
  0% {
    opacity: 0;
    transform: translateY(-550%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes présentation {
  0% {
    opacity: 0;
    transform: translateX(-15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes img_bienvenue {
  0% {
    opacity: 0;
    transform: translateX(15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes barre_vertical {
  0% {
    opacity: 0;
    transform: translateY(-550%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes radialGradientAnimation {
  0%, 100% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 150% 150%;
  }
}
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  max-width: 1280px;
  background: var(--color-bg);
  height: 80px;
  z-index: 10000;
}

.navbar {
  display: block;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 64px;
}
@media screen and (min-width: 992px) {
  .navbar {
    display: flex;
    position: unset;
    height: unset;
  }
}

.navbar-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 60%;
}
@media screen and (min-width: 992px) {
  .navbar-logo {
    width: 30%;
    align-items: center;
  }
}

.logo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  left: 15px;
  top: 15px;
  width: 200px;
  height: auto;
  max-width: 100%;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .logo {
    width: 240px;
    top: 20px;
    left: 40px;
  }
}

.navbar input[type=checkbox] {
  display: none;
}

.navbar .hamburger-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 23px;
  width: 35px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .navbar .hamburger-lines {
    display: none;
  }
}

.navbar .hamburger-lines .line1,
.navbar .hamburger-lines .line2,
.navbar .hamburger-lines .line3 {
  height: 3px;
  background: #333;
  border-radius: 10px;
  transition: transform 0.4s ease-in-out;
}

.nuit .navbar .hamburger-lines .line {
  background: white;
}

.navbar .hamburger-lines .line2 {
  width: 45px;
  margin-left: -5px;
}

.line1.open {
  transform: rotate(-45deg) translateY(14px);
}

.line2.open {
  transform: scaleY(0);
}

.line3.open {
  transform: rotate(45deg) translateY(-14.3px);
}

.header .menu-items {
  display: flex;
  position: absolute;
  right: 0;
  padding-top: 90px;
  background: var(--color-bg);
  height: 1200px;
  max-width: 100%;
  transform: translateX(100%);
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}
@media screen and (min-width: 992px) {
  .header .menu-items {
    position: unset;
    padding-top: unset;
    height: 75px;
    max-width: unset;
    transform: none;
    transition: none;
    flex-direction: row;
    box-shadow: unset;
  }
}

.nuit .menu-items a {
  color: white;
}

.menu-items {
  display: flex;
  margin: -10px 0 0 0;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .menu-items {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 20px 0 0;
    width: auto;
  }
}

.menu-items li {
  list-style: none;
  font-size: 18px;
}
@media screen and (min-width: 992px) {
  .menu-items li {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.menu-items a:hover {
  color: #08b7a2;
  transition: 0.3s ease-in-out;
}

.menu-items.open {
  transform: translateX(0);
}

@media screen and (min-width: 992px) {
  .navbar_li {
    margin-top: 10px;
    white-space: nowrap;
  }
}

.navbar_reseau {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 5px;
  gap: 5px;
}
@media screen and (min-width: 992px) {
  .navbar_reseau {
    display: none;
  }
}

.navbar_github,
.navbar_linkedin,
.navbar_Gmail {
  background: white;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  border: 2px solid var(--color-text);
  border-radius: 100px;
}

.navbar_github:hover,
.navbar_linkedin:hover,
.navbar_Gmail:hover {
  transform: none;
}
@media screen and (min-width: 992px) {
  .navbar_github:hover,
  .navbar_linkedin:hover,
  .navbar_Gmail:hover {
    transform: scale(1.2);
  }
}

.toggle-button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  margin-top: 1px;
}
@media screen and (min-width: 992px) {
  .toggle-button {
    margin-top: 4px;
  }
}

.toggle-button img {
  display: block;
  width: 35px;
  height: 35px;
}

.menu-items a.active {
  border-bottom: 5px solid #08b7a2;
  font-weight: bold;
  color: #08b7a2;
}

@media (max-width: 991px) {
  .navbar .hamburger-lines {
    display: flex;
  }
  .header .menu-items li {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
  }
  .navbar_reseau {
    gap: 15px;
  }
  .navbar_github,
  .navbar_linkedin,
  .navbar_Gmail {
    width: 80%;
  }
  .menu-items li a {
    font-size: 17px;
  }
}
@media (max-width: 991px) and (orientation: landscape) {
  .header .menu-items {
    padding-top: 70px;
  }
  .header .menu-items li {
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar_reseau {
    gap: 5px;
  }
}
.formulaire_contact {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 110px;
}

.form_contact {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .form_contact {
    flex-direction: row;
    margin-top: 0px;
  }
}

.label_form {
  color: var(--color-text);
  margin-bottom: 5px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
}
@media screen and (min-width: 992px) {
  .form {
    width: 40%;
    max-width: unset;
    margin-left: 100px;
    margin-top: 40px;
  }
}

.form input,
.form textarea {
  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box, var(--color-border) border-box;
  border: 2px solid transparent;
  border-radius: 15px;
  color: var(--color-text);
  margin-bottom: 15px;
  width: 90%;
}

.ou {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text);
}

.div_titre {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 30px;
}

.titre_form {
  width: 90%;
  font-size: 18px;
  color: var(--color-text);
}
@media screen and (min-width: 992px) {
  .titre_form {
    width: 100%;
    margin-top: -5px;
  }
}

.nuit input::-moz-placeholder textarea::-moz-placeholder {
  color: rgb(148, 148, 148);
}

.nuit input::placeholder textarea::placeholder {
  color: rgb(148, 148, 148);
}

.nom_de_contact {
  padding: 10px;
}

.email {
  padding: 10px;
}

.telephone {
  padding: 10px;
}

.message {
  padding: 10px 10px 30px 10px;
}

.button_denvoi {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 0;
  margin-top: 8px;
  width: 40%;
  color: var(--color-text);
  border: 4px solid transparent;
  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box, var(--color-border) border-box;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .button_denvoi {
    display: block;
    width: 30%;
  }
}

.button_denvoi:hover {
  transform: none;
  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box, linear-gradient(to right, #c036aa, rgba(137, 95, 13, 0.8901960784)) border-box;
  border: 4px solid transparent;
}
@media screen and (min-width: 992px) {
  .button_denvoi:hover {
    transform: scale(1.05);
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 255, 0, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

.contact_img {
  width: 90%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-top: 30px;
}
@media screen and (min-width: 992px) {
  .contact_img {
    width: 38%;
    height: 370px;
    margin-top: 0;
  }
}

.emailto {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: none;
  flex-direction: column;
  width: 90%;
  margin-top: 40px;
  color: var(--color-text);
}
@media screen and (min-width: 992px) {
  .emailto {
    display: none;
    flex-direction: unset;
    width: unset;
  }
}

.input-error {
  border: 2px solid red !important;
  background: #d08787 !important;
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.popup-status {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.popup-status-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.popup-status p {
  margin: 0;
  font-size: 16px;
}

.popup-status.show {
  visibility: visible;
  opacity: 1;
}

.recaptcha-message {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  width: 90%;
  max-width: 600px;
  margin: 25px 0 -50px 0;
}

.recaptcha-message a {
  color: #1a73e8;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.recaptcha-message a:hover {
  color: #d93025;
}

.recaptcha-message p {
  margin-bottom: 10px;
}

.grecaptcha-badge {
  visibility: hidden;
}

.introduction {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
@media screen and (min-width: 992px) {
  .introduction {
    flex-direction: row;
    margin-bottom: -40px;
  }
}
.introduction__presentation {
  margin-top: 20px;
  width: 90%;
}
@media screen and (min-width: 992px) {
  .introduction__presentation {
    width: 45%;
    animation: présentation 3s;
    margin-top: 0;
  }
}
.introduction__titre {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text);
}
@media screen and (min-width: 992px) {
  .introduction__titre {
    width: 90%;
    font-size: 24px;
    margin: auto;
  }
}
.introduction__container-logo {
  display: none;
}
@media screen and (min-width: 992px) {
  .introduction__container-logo {
    display: flex;
  }
}
.introduction__logo-mobile {
  margin-top: 20px;
  width: 500px;
  height: auto;
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .introduction__logo-mobile {
    display: none;
  }
}
.introduction__logo {
  display: none;
  width: 100%;
  margin: 0 0 20px 0;
}
@media screen and (min-width: 992px) {
  .introduction__logo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 70%;
    height: 200px;
    margin: 40px auto;
    background-image: var(--background-image);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.introduction__texte {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text);
}
@media screen and (min-width: 992px) {
  .introduction__texte {
    font-size: 20px;
    width: 90%;
    margin: auto;
  }
}
.introduction__font-contact {
  display: inline-block;
  padding: 0.5em 1.2em;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin: 25px 10px 10px 10px;
  color: white;
  background: linear-gradient(180deg, #05e0c6 0%, rgba(82, 101, 137, 0.6392156863) 100%) padding-box, linear-gradient(180deg, #05e0c6 0%, rgba(82, 101, 137, 0.6392156863) 100%) border-box;
  white-space: nowrap;
  font-size: 17px;
}
@media screen and (min-width: 992px) {
  .introduction__font-contact {
    border-radius: 8px;
    margin: 30px 0 0 0;
  }
}
@media screen and (min-width: 992px) {
  .introduction__font-contact:hover {
    background: #08b7a2;
  }
}

.barre_container {
  display: none;
}
@media screen and (min-width: 992px) {
  .barre_container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

.barre {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 10%;
}
.barre__reseau-social {
  border: 2px solid var(--color-text);
  background: linear-gradient(to right, rgba(51, 51, 51, 0.4901960784) 0%, rgba(192, 192, 192, 0.4823529412) 50%, rgba(51, 51, 51, 0.4901960784) 100%);
  border-radius: 40px;
  position: absolute;
  margin: -220px 0 0 70px;
  padding: 20px 5px 5px 5px;
  animation: mouse_scroll 3s;
}
.barre__logo-1, .barre__logo-2, .barre__logo-3 {
  border: 2px solid var(--color-text);
  background: white;
  border-radius: 100px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
  margin-top: 0;
}
.barre__logo-1:hover, .barre__logo-2:hover, .barre__logo-3:hover {
  transform: scale(1.2);
  border-color: #08b7a2;
}

.nuit .barre__logo-3 {
  background: #dadada;
}

.bienvenue {
  width: 90%;
}
@media screen and (min-width: 992px) {
  .bienvenue {
    width: 45%;
    margin-left: 70px;
    margin-top: 20px;
    animation: img_bienvenue 3s;
  }
}
.bienvenue__source {
  display: none;
}
@media screen and (min-width: 992px) {
  .bienvenue__source {
    display: flex;
    width: 100%;
    margin: 20px 0 0;
  }
}

.souris {
  display: none;
}
@media screen and (min-width: 992px) {
  .souris {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 260px;
  }
}

.mouse_scroll {
  display: block;
  width: 24px;
  height: 100px;
  margin-top: 40px;
  animation: none;
}
@media screen and (min-width: 992px) {
  .mouse_scroll {
    margin-top: 0;
    animation: mouse_scroll 3s;
  }
}

.m_scroll_arrows {
  display: block;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  margin: 0 0 3px 4px;
  border-right: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
}

.un,
.deux,
.trois {
  animation: mouse-scroll 1s infinite alternate;
  -webkit-animation: mouse-scroll 1s infinite alternate;
  -moz-animation: mouse-scroll 1s infinite alternate;
}
.un.un,
.deux.un,
.trois.un {
  animation-delay: 0.1s;
  margin-top: 1px;
}
.un.deux,
.deux.deux,
.trois.deux {
  animation-delay: 0.2s;
  margin-top: -6px;
}
.un.trois,
.deux.trois,
.trois.trois {
  animation-delay: 0.3s;
  margin-top: -6px;
}

.mouse {
  width: 24px;
  height: 42px;
  border-radius: 14px;
  border: 2px solid var(--color-text);
}

.wheel {
  height: 4px;
  width: 4px;
  display: block;
  margin: 5px auto;
  position: relative;
  border-radius: 8px;
  border: 2px solid var(--color-text);
  animation: mouse-wheel 0.6s linear infinite;
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}

.section_2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 110px;
}
@media screen and (min-width: 992px) {
  .section_2 {
    display: block;
    flex-direction: unset;
    margin-bottom: -40px;
  }
}

.stitre {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text);
}

.texte {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-left: 0;
  text-align: center;
  width: 90%;
  padding: 0px 10px 0px 10px;
  font-size: 16px;
  font-weight: 300;
}
@media screen and (min-width: 992px) {
  .texte {
    width: 46%;
    margin-left: 80px;
    margin-top: 30px;
    padding: 0;
  }
}

.texte p {
  margin-bottom: 15px;
  color: var(--color-text);
}

.qui_suis-je {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
@media screen and (min-width: 992px) {
  .qui_suis-je {
    margin-top: 10px;
    flex-direction: row;
  }
}

.about-me {
  width: 250px;
  height: auto;
  max-width: 100%;
  margin-bottom: 35px;
}
@media screen and (min-width: 992px) {
  .about-me {
    width: 360px;
    margin-top: 50px;
  }
}

.me {
  width: 100%;
  height: auto;
  box-shadow: 0 0 0 10px #08a9df;
  border: 10px solid green;
  border-radius: 500px;
}
@media screen and (min-width: 992px) {
  .me {
    height: 360px;
  }
}

.competences {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 110px;
}
@media screen and (min-width: 992px) {
  .competences {
    margin-top: 60px;
  }
}
.competences__div {
  width: 90%;
  height: 720px;
  background-position: bottom 0px center;
  background: rgba(20, 20, 20, 0.2588235294);
  background-image: url(/assets/computer-unsplash.webp);
  background-size: cover;
  border-radius: 63px;
  margin-top: 50px;
}
@media screen and (min-width: 992px) {
  .competences__div {
    width: 85%;
    height: 460px;
    background-position: center;
  }
}
.competences__titre {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: 600;
}
@media screen and (min-width: 992px) {
  .competences__titre {
    margin-top: unset;
  }
}
.competences__details {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: 300px;
}
@media screen and (min-width: 992px) {
  .competences__details {
    flex-direction: row;
  }
}
.competences__un, .competences__deux {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 100px;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  height: 360px;
  background-color: rgba(20, 20, 20, 0.2588235294);
  color: white;
}
@media screen and (min-width: 992px) {
  .competences__un, .competences__deux {
    height: 460px;
    width: 50%;
    border-radius: unset;
    align-items: unset;
  }
}
.competences__un {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 63px;
  border-top-left-radius: 63px;
}
@media screen and (min-width: 992px) {
  .competences__un {
    border-top-left-radius: 63px;
    border-bottom-left-radius: 63px;
    border-top-right-radius: unset;
  }
}
.competences__deux {
  border-bottom-right-radius: 63px;
  border-bottom-left-radius: 63px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 0px;
}
@media screen and (min-width: 992px) {
  .competences__deux {
    border-top-right-radius: 63px;
    border-bottom-right-radius: 63px;
    border-bottom-left-radius: unset;
  }
}
.competences__barre {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 0;
}
@media screen and (min-width: 992px) {
  .competences__barre {
    width: 85%;
    margin-left: 40px;
    margin-top: unset;
    padding: unset;
    margin-bottom: 10px;
  }
}
.competences__li {
  margin-top: 10px;
}
@media screen and (min-width: 992px) {
  .competences__li {
    margin-top: 20px;
  }
}

.competences__un ul {
  margin-top: 65px;
}
@media screen and (min-width: 992px) {
  .competences__un ul {
    margin-top: unset;
  }
}

.competences__deux ul {
  height: 360px;
}
@media screen and (min-width: 992px) {
  .competences__deux ul {
    margin-top: unset;
    height: unset;
  }
}

.progressbar-title {
  display: flex;
  flex-direction: row;
  color: white;
}

.skill {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}
@media screen and (min-width: 992px) {
  .skill {
    font-size: 18px;
  }
}

.progress-value percent {
  position: absolute;
  right: 5px;
  top: 20%;
}

.bar-container {
  background: #ffffff;
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  display: block;
  border-radius: 5px;
}

.progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  border-radius: 5px;
}

.containeur {
  display: flex;
  width: 0px;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
}

.circular-progress {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  right: 5px;
  top: -15%;
}
@media screen and (min-width: 992px) {
  .circular-progress {
    width: 35px;
    height: 35px;
  }
}

.circular-progress::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
}
@media screen and (min-width: 992px) {
  .circular-progress::before {
    width: 30px;
    height: 30px;
  }
}

.progress-value {
  position: relative;
  font-size: 10px;
  font-weight: 600;
  color: black;
}
@media screen and (min-width: 992px) {
  .progress-value {
    font-size: 12px;
  }
}

.jour .competences__titre {
  color: black;
}

.nuit .competences__titre {
  color: white;
}

.projets {
  padding-top: 110px;
  text-align: center;
}

.carrousel {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
}
@media screen and (min-width: 992px) {
  .carrousel {
    margin-top: 0;
  }
}

.carousel-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.carrousel_img {
  margin: 0 5px;
  position: relative;
}

.carrousel_left,
.carrousel_right {
  display: none;
}
@media screen and (min-width: 992px) {
  .carrousel_left,
  .carrousel_right {
    display: unset;
  }
}

.carrousel_left img,
.carrousel_right img {
  display: none;
}
@media screen and (min-width: 992px) {
  .carrousel_left img,
  .carrousel_right img {
    display: unset;
    background: transparent;
    border: 2px solid;
    -o-border-image: var(--color-border) 1;
       border-image: var(--color-border) 1;
    padding: 10px;
    cursor: pointer;
  }
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 2;
}

.computer-frame {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10px;
}
@media screen and (min-width: 992px) {
  .computer-frame {
    width: 520px;
    height: 520px;
  }
}

.project-image-wrapper {
  position: absolute;
  top: 9.9%;
  left: 4.2%;
  width: 91.6%;
  height: 48.7%;
  z-index: 1;
  cursor: pointer;
}

.project-image {
  -o-object-fit: cover;
     object-fit: cover;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  z-index: 500;
  color: white;
  background: rgba(112, 112, 112, 0.167);
  margin-top: 105px;
}
@media screen and (min-width: 992px) {
  .project-title {
    margin-top: 182px;
  }
}

.project-title-left,
.project-title-right {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--color-text);
}

.arrow {
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 3;
}

.arrow_left {
  left: 10%;
}
@media screen and (min-width: 992px) {
  .arrow_left {
    left: 5%;
  }
}

.arrow_right {
  right: 10%;
}
@media screen and (min-width: 992px) {
  .arrow_right {
    right: 5%;
  }
}

.arrow-wrapper {
  background: rgba(0, 0, 0, 0.6274509804);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.arrow-wrapper img {
  width: 20px;
  height: 20px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 4;
}

.popup-content {
  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box, var(--color-border) border-box;
  border: 2px solid transparent;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 80%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column-reverse;
}
@media screen and (min-width: 992px) {
  .popup-content {
    width: 90%;
    height: 80%;
    margin-top: 80px;
    flex-direction: row;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 40px;
  color: var(--color-text);
  cursor: pointer;
  z-index: 1;
}

.project_container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: -15px;
}
@media screen and (min-width: 992px) {
  .project_container {
    margin-left: 50px;
    margin-top: 0;
  }
}

.project-text,
.project-description {
  color: var(--color-text);
}

@media screen and (min-width: 992px) {
  .project-text {
    margin-top: 60px;
  }
}

.project-description {
  margin-top: 250px;
  width: 90%;
}
@media screen and (min-width: 992px) {
  .project-description {
    margin-top: 330px;
    width: 80%;
  }
}

.popup-frame {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: -110px;
}
@media screen and (min-width: 992px) {
  .popup-frame {
    width: 500px;
    height: 500px;
    margin-top: -105px;
    margin-left: 20px;
  }
}

.popup-image-wrapper {
  position: absolute;
  top: 33.5%;
  left: 16.7%;
  width: 200px;
  height: 125.5px;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .popup-image-wrapper {
    top: 28.1%;
    left: 16.7%;
    width: 333px;
    height: 207.5px;
  }
}

.technologie-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: -20px;
}
@media screen and (min-width: 992px) {
  .technologie-container {
    margin-top: 0;
  }
}

.technologie-text {
  color: var(--color-text);
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 40px;
}

.technologie-language {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -20px;
}
@media screen and (min-width: 992px) {
  .technologie-language {
    margin-top: 0;
  }
}

.language-img {
  background: none;
  border: 2px solid #08b7a2;
  border-radius: 10px;
  padding: 5px;
  width: auto;
  height: 50px;
  margin-top: -5px;
}

.demostrastion {
  margin: -20px 0;
}
@media screen and (min-width: 992px) {
  .demostrastion {
    margin: 0;
  }
}

.demo,
.code {
  border: none;
  font-size: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, #222222 0%, rgba(77, 77, 77, 0) 100%);
  margin-top: 80px;
}
@media screen and (min-width: 992px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    height: 180px;
  }
}

.nuit .footer {
  background: linear-gradient(180deg, #343434 0%, rgba(77, 77, 77, 0) 100%);
}

.footer_logo-div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 60%;
}
@media screen and (min-width: 992px) {
  .footer_logo-div {
    order: 2;
    width: unset;
    margin-left: 35px;
    margin-bottom: 20px;
  }
}

.footer_logo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
@media screen and (min-width: 992px) {
  .footer_logo {
    margin-top: 0;
  }
}

.footer-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 200px;
  height: auto;
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .footer-logo {
    width: 240px;
  }
}

.adresse {
  color: white;
}

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  color: white;
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .copyright {
    order: 3;
    width: unset;
    margin-bottom: 0;
  }
}

.conditions {
  margin-top: 10px;
  color: white;
}
@media screen and (min-width: 992px) {
  .conditions {
    margin-bottom: 0;
  }
}

.copy {
  width: 100%;
  margin-top: 10px;
}
@media screen and (min-width: 992px) {
  .copy {
    position: absolute;
    margin-top: 160px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

.rs_align {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
@media screen and (min-width: 992px) {
  .rs_align {
    order: 1;
    width: unset;
  }
}

.retrouvez-moi {
  color: white;
}

.reseaux_sociaux {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.reseaux_sociaux a {
  margin: 5px;
}
@media screen and (min-width: 992px) {
  .reseaux_sociaux a {
    margin: 15px 5px;
  }
}

.paragraph_footer {
  font-size: 14px;
  font-weight: 300;
  color: white;
}

.footer_github {
  margin-top: 5px;
  border: 2px solid white;
  background-color: white;
  border-radius: 100px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.footer_github:hover {
  transform: none;
  border-color: #08b7a2;
}
@media screen and (min-width: 992px) {
  .footer_github:hover {
    transform: scale(1.2);
  }
}

.footer_linkedin {
  margin-top: 5px;
  border: 2px solid white;
  background-color: white;
  border-radius: 100px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.footer_linkedin:hover {
  transform: none;
  border-color: #08b7a2;
}
@media screen and (min-width: 992px) {
  .footer_linkedin:hover {
    transform: scale(1.2);
  }
}

.footer_gmail {
  margin-top: 5px;
  border: 2px solid white;
  background: rgb(218, 218, 218);
  border-radius: 100px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.footer_gmail:hover {
  transform: none;
  border-color: #08b7a2;
}
@media screen and (min-width: 992px) {
  .footer_gmail:hover {
    transform: scale(1.2);
  }
}

.dummy_div {
  width: 20%;
}

.scroll-top {
  display: none;
}
@media screen and (min-width: 992px) {
  .scroll-top {
    display: flex;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.242);
    background-image: url(/assets/scroll-top.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

.scroll-top.visible {
  opacity: 1;
}

.nuit .scroll-top {
  background-color: unset;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.2em;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin: 40px 10px 10px 10px;
}

.btn-primary {
  color: white;
  background: linear-gradient(180deg, #05e0c6 0%, rgba(82, 101, 137, 0.6392156863) 100%) padding-box, linear-gradient(180deg, #05e0c6 0%, rgba(82, 101, 137, 0.6392156863) 100%) border-box;
}

.btn-primary:hover {
  background: #08b7a2;
}

.close-btn {
  background: linear-gradient(180deg, #05e0c6 0%, rgba(82, 101, 137, 0.6392156863) 100%) padding-box, linear-gradient(180deg, #05e0c6 0%, rgba(82, 101, 137, 0.6392156863) 100%) border-box;
  color: white;
  border: 0;
  padding: 7px 10px 7px 10px;
  font-size: 14px;
  border-radius: 8px;
}
.close-btn:hover {
  background: #05e0c6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: "Lexend", sans-serif;
  background: var(--color-body);
  animation: radialGradientAnimation 10s ease infinite;
}

a {
  text-decoration: none;
  color: black;
}

li {
  position: relative;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  list-style-type: none;
}

h4 {
  font-size: 14px;
  font-weight: 300;
  margin-left: 5px;
}

strong {
  color: black;
}

.animation {
  opacity: 0;
  transform: translate(0px);
  transition: all 1s ease-out;
  transition-delay: 0.3s;
}

.scroll-animation {
  opacity: 1;
  transform: translateX(0);
}

.services {
  padding: 110px 0;
  text-align: center;
  margin-bottom: -100px;
}
@media screen and (min-width: 992px) {
  .services {
    margin-bottom: -80px;
  }
}

.services-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  margin-top: 50px;
}
@media screen and (min-width: 992px) {
  .services-container {
    width: unset;
    height: unset;
    gap: 40px;
  }
}

.service-card {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 250px;
  border-radius: 15px;
  padding: 20px;
  color: var(--color-text);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
@media screen and (min-width: 992px) {
  .service-card {
    width: 320px;
    height: 420px;
  }
}
.service-card h3 {
  margin-bottom: 15px;
  font-size: 18px;
}
@media screen and (min-width: 992px) {
  .service-card h3 {
    font-size: 22px;
  }
}
.service-card p {
  font-size: 1rem;
  color: var(--color-text);
}

.ui-ux {
  background: linear-gradient(to bottom right, #d8a57d, #e0c3fc);
}

.xd {
  background: linear-gradient(to bottom right, #ffc175, #e5a3bf);
}

.figma {
  background: linear-gradient(to bottom right, #ff9a9e, #fad0c4);
}

.wordpress {
  background: linear-gradient(to bottom right, #a18cd1, #fbc2eb);
}

.shopify {
  background: linear-gradient(to bottom right, #ffecd2, #fcb69f);
}

.canva {
  background: linear-gradient(to bottom right, #5ee7df, #b490ca);
}

.web-designing {
  background: linear-gradient(to bottom right, #d4fc79, #96e6a1);
}

.web-development {
  background: linear-gradient(to bottom right, #667ad6, #9678b3);
}

.calendly-overlay {
  margin-top: 80px;
}

.calendly-overlay .calendly-popup {
  margin-top: 30px;
}
@media screen and (min-width: 992px) {
  .calendly-overlay .calendly-popup {
    margin-top: -17px;
    height: 900px !important;
    max-height: unset;
  }
}

.calendly_div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box, var(--color-border) border-box;
  border: 2px solid transparent;
  border-radius: 15px;
  margin-top: 50px;
  padding: 20px;
  width: 90%;
}
@media screen and (min-width: 992px) {
  .calendly_div {
    width: unset;
  }
}

.calendly_titre {
  color: var(--color-text);
  margin-top: 5px;
  margin-bottom: 15px;
}

.calendly_sous-titre {
  color: var(--color-text);
}

.calendly_link {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 13px;
  margin-top: 20px;
}
@media screen and (min-width: 992px) {
  .calendly_link {
    font-size: unset;
  }
}

.font_emoji {
  font-size: 18px;
  margin-left: 5px;
}/*# sourceMappingURL=style.css.map */