.calendly-overlay {
  margin-top: 80px;
}

.calendly-overlay .calendly-popup {
  margin-top: 30px;
  @include breakpoints_desktop {
    margin-top: -17px;
    height: 900px !important;
    max-height: unset;
  }
}

.calendly_div {
  @include flexbox;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.36);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: -10px;
  padding: 20px;
  width: 90%;
  @include breakpoints_desktop {
    width: 60%;
    height: 160px;
    margin-bottom: 20px;
  }
}

.calendly_titre {
  color: $color-text;
  margin-top: 5px;
  margin-bottom: 15px;
}

.calendly_sous-titre {
  color: $color-text;
}

.calendly_link {
  @include flexbox;
  font-size: 13px;
  margin-top: 20px;
  background: #0073e6;
  @include breakpoints_desktop {
    font-size: unset;
  }
  &:hover {
    background: #005bb5;
  }
}

.font_emoji {
  font-size: 18px;
  margin-left: 5px;
}
