.calendly-overlay {
  margin-top: 80px;
}

.calendly-overlay .calendly-popup {
  margin-top: 30px;
  @include breakpoints_desktop {
    margin-top: -17px;
    height: 900px !important;
    max-height: unset;
  }
}

.calendly_div {
  @include flexbox;
  flex-direction: column;
  background: $border-calendly;
  border: 2px solid transparent;
  border-radius: 15px;
  margin-top: 50px;
  padding: 20px;
  width: 90%;
  @include breakpoints_desktop {
    width: unset;
  }
}

.calendly_titre {
  color: $color-text;
  margin-top: 5px;
  margin-bottom: 15px;
}

.calendly_sous-titre {
  color: $color-text;
}

.calendly_link {
  @include flexbox;
  font-size: 13px;
  margin-top: 20px;
  @include breakpoints_desktop {
    font-size: unset;
  }
}

.font_emoji {
  font-size: 18px;
  margin-left: 5px;
}
