.formulaire_contact {
  @include flexbox;
  flex-direction: column;
  padding-top: 110px;
}

.form_contact {
  @include flexbox;
  flex-direction: column;
  margin-top: 0;
  width: 100%;
  @include breakpoints_desktop {
    flex-direction: row;
    margin-top: 0px;
  }
}

.label_form {
  color: $color-text;
  margin-bottom: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 100%;
  margin-top: 30px;
  @include breakpoints_desktop {
    width: 40%;
    max-width: unset;
    margin-left: 100px;
    margin-top: 40px;
  }
}

.form input,
.form textarea {
  background: $border-calendly;
  border: 2px solid transparent;
  border-radius: 15px;
  color:$black;
  margin-bottom: 15px;
}

.ou {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  color: $color-text;
}

.div_titre {
  @include flexbox;
  margin-top: 30px;
}

.titre_form {
  width: 90%;
  font-size: 18px;
  color: $color-text;
  @include breakpoints_desktop {
    width: 100%;
    margin-top: -5px;
  }
}

.nuit input::placeholder textarea::placeholder {
  color: rgb(148, 148, 148);
}

.nom_de_contact {
  padding: 10px;
}

.email {
  padding: 10px;
}

.telephone {
  padding: 10px;
}

.message {
  padding: 10px 10px 30px 10px;
}

.button_denvoi {
  @include flexbox;
  margin-left: 0;
  margin-top: 8px;
  width: auto;
  color: $color-text;
  border: 4px solid transparent;
  background: $border-calendly;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  @include breakpoints_desktop {
    display: block;
    width: 30%;
    margin-left: 180px;
  }
}

.button_denvoi:hover {
  transform: none;
  background: linear-gradient($color-bg, $color-bg) padding-box,
    linear-gradient(to right, #c036aa, #895f0de3) border-box;
  border: 4px solid transparent;
  @include breakpoints_desktop {
    transform: scale(1.05);
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00ff00cc;
  padding: 10px 20px;
  border-radius: 5px;
  color: $white;
}

.contact_img {
  width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 30px;
  @include breakpoints_desktop {
    width: 38%;
    height: 370px;
    margin-top: 0;
  }
}

.emailto {
  @include flexbox;
  display: none;
  flex-direction: column;
  width: 90%;
  margin-top: 40px;
  color: $color-text;
  @include breakpoints_desktop {
    display: none;
    flex-direction: unset;
    width: unset;
  }
}

.input-error {
  border: 2px solid $red !important;
  background: #d08787 !important;
}

.error-msg {
  color: $red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.popup-status {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.popup-status-content {
  background: $white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.popup-status p {
  margin: 0;
  font-size: 16px;
}

.popup-status.show {
  visibility: visible;
  opacity: 1;
}
