.formulaire_contact {
  @include flexbox;
  flex-direction: column;
  padding-top: 110px;
}

.form_contact {
  @include flexbox;
  flex-direction: column;
  margin-top: 0;
  width: 100%;
  @include breakpoints_desktop {
    flex-direction: row;
    gap: 80px;
    margin-top: -20px;
  }
}

.label_form {
  color: $color-text;
  margin-bottom: 5px;
}

.form {
  @include flexbox;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin-top: -10px;
  @include breakpoints_desktop {
    width: 40%;
    max-width: unset;
    margin-left: 0;
    margin-top: 40px;
  }
}

.form input,
.form textarea {
  background: rgba(255, 255, 255, 0.36);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 15px;
  color: $color-text;
  margin-bottom: 15px;
  width: 90%;
}

.ou {
  display: none;
  @include breakpoints_desktop {
    display: block;
    border: 1px dashed $color-text;
    height: 320px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: $color-text;
  }
}

.divers {
  @include flexbox;
  flex-direction: column;
  width: 60%;
  margin-top: 30px;
  @include breakpoints_desktop {
    width: 30%;
    margin: 0;
  }
}

.div_titre {
  @include flexbox;
  margin-top: 50px;
  width: 100%;
  @include breakpoints_desktop {
    width: 80%;
    margin-top: 20px;
    margin-bottom: -10px;
  }
}

.titre_form {
  width: 90%;
  font-size: 17px;
  color: $color-text;
  margin-bottom: -10px;
  @include breakpoints_desktop {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.titre_form-mobile {
  display: none;
  @include breakpoints_desktop {
    display: none;
  }
}

.nuit input::placeholder,
textarea::placeholder {
  color: #686868;
}

.nom_de_contact {
  padding: 10px;
}

.email {
  padding: 10px;
}

.telephone {
  padding: 10px;
}

.message {
  padding: 10px 10px 30px 10px;
}

.button_denvoi {
  @include flexbox;
  margin-left: 0;
  margin-top: 8px;
  width: 40%;
  color: $color-text;
  border: 2px solid rgba(255, 255, 255, 0.16);
  background: rgba(255, 255, 255, 0.36);
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  @include breakpoints_desktop {
    display: block;
    width: 30%;
  }
}

.button_denvoi:hover {
  transform: none;
  background: rgba(255, 255, 255, 0.36);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 2px solid rgba(255, 255, 255, 0.16);
  @include breakpoints_desktop {
    transform: scale(1.05);
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00ff00cc;
  padding: 10px 20px;
  border-radius: 5px;
  color: $white;
}

.contact_img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 30px;
  @include breakpoints_desktop {
    width: 100%;
    margin-top: 40px;
  }
}

.emailto {
  @include flexbox;
  display: none;
  flex-direction: column;
  width: 90%;
  margin-top: 40px;
  color: $color-text;
  @include breakpoints_desktop {
    display: none;
    flex-direction: unset;
    width: unset;
  }
}

.input-error {
  border: 2px solid $red !important;
  background: #d08787 !important;
}

.error-msg {
  color: $red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.popup-status {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.popup-status-content {
  background: $white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.popup-status p {
  margin: 0;
  font-size: 16px;
}

.popup-status.show {
  visibility: visible;
  opacity: 1;
}

.recaptcha-message {
  font-size: 16px;
  line-height: 1.5;
  color: $color-text;
  width: 90%;
  max-width: 600px;
  margin: 25px 0 -50px 0;
}

.recaptcha-message a {
  color: #0073e6;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.recaptcha-message a:hover {
  color: #d93025;
}

.recaptcha-message p {
  margin-bottom: 10px;
}

.grecaptcha-badge {
  visibility: hidden;
}
