.header {
  @include flexbox;
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  max-width: 1280px;
  background: $color-bg;
  height: 80px;
  z-index: 10000;
}

.navbar {
  display: block;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 64px;
  @include breakpoints_desktop {
    display: flex;
    position: unset;
    height: unset;
  }
}

.navbar-logo {
  @include flexbox;
  width: 60%;
  @include breakpoints_desktop {
    width: 30%;
    align-items: center;
  }
}

.logo {
  @include flexbox;
  position: absolute;
  left: 15px;
  top: 15px;
  width: 200px;
  height: auto;
  max-width: 100%;
  z-index: 1;
  @include breakpoints_desktop {
    width: 240px;
    top: 20px;
    left: 40px;
  }
}

.navbar input[type="checkbox"] {
  display: none;
}

.navbar .hamburger-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 23px;
  width: 35px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
  @include breakpoints_desktop {
    display: none;
  }
}

.navbar .hamburger-lines .line1,
.navbar .hamburger-lines .line2,
.navbar .hamburger-lines .line3 {
  height: 3px;
  background: #333;
  border-radius: 10px;
  transition: transform 0.4s ease-in-out;
}

.nuit .navbar .hamburger-lines .line {
  background: $white;
}

.navbar .hamburger-lines .line2 {
  width: 45px;
  margin-left: -5px;
}

.line1.open {
  transform: rotate(-45deg) translateY(14px);
}

.line2.open {
  transform: scaleY(0);
}

.line3.open {
  transform: rotate(45deg) translateY(-14.3px);
}

.header .menu-items {
  display: flex;
  position: absolute;
  right: 0;
  padding-top: 90px;
  background: $color-bg;
  height: 1200px;
  max-width: 100%;
  transform: translateX(100%);
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  @include breakpoints_desktop {
    position: unset;
    padding-top: unset;
    height: 75px;
    max-width: unset;
    transform: none;
    transition: none;
    flex-direction: row;
    box-shadow: unset;
  }
}

.nuit .menu-items a {
  color: white;
}

.menu-items {
  display: flex;
  margin: -10px 0 0 0;
  width: 100%;
  @include breakpoints_desktop {
    @include flexbox;
    margin: 0 20px 0 0;
    width: auto;
  }
}

.menu-items li {
  list-style: none;
  font-size: 18px;
  @include breakpoints_desktop {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.menu-items a:hover {
  color: #08b7a2;
  transition: 0.3s ease-in-out;
}

.menu-items.open {
  transform: translateX(0);
}

.navbar_li {
  @include breakpoints_desktop {
    margin-top: 10px;
    white-space: nowrap;
  }
}

.navbar_reseau {
  @include flexbox;
  margin-top: 5px;
  gap: 5px;
  @include breakpoints_desktop {
    display: none;
  }
}

.navbar_github,
.navbar_linkedin,
.navbar_Gmail {
  background: $white;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  border: 2px solid $color-text;
  border-radius: 100px;
}

.navbar_github:hover,
.navbar_linkedin:hover,
.navbar_Gmail:hover {
  transform: none;
  @include breakpoints_desktop {
    transform: scale(1.2);
  }
}

.toggle-button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  margin-top: 1px;
  @include breakpoints_desktop {
    margin-top: 4px;
  }
}

.toggle-button img {
  display: block;
  width: 35px;
  height: 35px;
}

.menu-items a.active {
  border-bottom: 5px solid #08b7a2;
  font-weight: bold;
  color: #08b7a2;
}

// Media queries pour mobile
@media (max-width: 991px) {
  .navbar .hamburger-lines {
    display: flex;
  }

  .header .menu-items li {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
  }

  .navbar_reseau {
    gap: 15px;
  }

  .navbar_github,
  .navbar_linkedin,
  .navbar_Gmail {
    width: 80%;
  }

  .menu-items li a {
    font-size: 17px;
  }

  // Styles pour l'orientation paysage
  @media (orientation: landscape) {
    .header .menu-items {
      padding-top: 70px;
    }

    .header .menu-items li {
      margin-top: 0;
      margin-bottom: 0;
    }

    .navbar_reseau {
      gap: 5px;
    }
  }
}
