.introduction {
  @include flexbox;
  flex-direction: column;
  padding-top: 100px;
  @include breakpoints_desktop {
    flex-direction: row;
    margin-bottom: 40px;
  }
  &__presentation {
    margin-top: 20px;
    width: 90%;
    @include breakpoints_desktop {
      width: 45%;
      animation: présentation 3s;
      margin-top: 0;
    }
  }
  &__titre {
    @include flexbox;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    @include breakpoints_desktop {
      width: 90%;
      font-size: 24px;
      margin: auto;
    }
  }
  &__container-logo {
    display: none;
    @include breakpoints_desktop {
      display: flex;
    }
  }
  &__logo-mobile {
    margin-top: 20px;
    width: 500px;
    height: auto;
    max-width: 100%;
    @include breakpoints_desktop {
      display: none;
    }
  }
  &__logo {
    display: none;
    width: 100%;
    margin: 0px 0 20px 0px;
    @include breakpoints_desktop {
      @include flexbox;
      width: 70%;
      margin: 40px auto;
    }
  }
  &__texte {
    @include flexbox;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    @include breakpoints_desktop {
      font-size: 20px;
      width: 90%;
      margin: auto;
    }
  }
  &__contact-container {
    position: relative;
    @include flexbox;
    width: 35%;
    height: 35px;
    left: 32%;
    background: #d9d9d9;
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;
    @include breakpoints_desktop {
      position: none;
      width: 24%;
      border-radius: 8px;
      margin: 40px 0 0 35px;
    }
    &:hover {
      transform: none;
      @include breakpoints_desktop {
        transform: scale(1.05);
      }
    }
  }
  &__font-contact {
    font-size: 18px;
    margin-left: -0.5px;
  }
}

.nuit .introduction {
  &__titre {
    color: $white;
  }
  &__texte {
    color: $white;
  }
}

.barre_container {
  display: none;
  @include breakpoints_desktop {
    @include flexbox;
  }
}

.barre {
  @include flexbox;
  flex-direction: column;
  width: 10%;
  &__reseau-social {
    border: 2px solid $black;
    background: linear-gradient(
      to right,
      #3333337d 0%,
      rgba(192, 192, 192, 0.484) 50%,
      #3333337d 100%
    );
    border-radius: 40px;
    position: absolute;
    margin: -200px 0 0 70px;
    padding: 20px 0px 20px 0px;
    animation: mouse_scroll 3s;
  }
  &__logo-1 {
    border: 2px solid;
    background: $white;
    border-radius: 100px;
    margin-top: 10px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out,
      background 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
      border-color: #08b7a2;
    }
  }
  &__logo-2 {
    border: 2px solid;
    background-color: $white;
    border-radius: 100px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out,
      background 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
      border-color: #08b7a2;
    }
  }
  &__logo-3 {
    border: 2px solid;
    background-color: $white;
    border-radius: 100px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
      border-color: #08b7a2;
    }
  }
}

.nuit .barre {
  &__reseau-social {
    border: 2px solid $white;
  }
  &__logo-1 {
    color: $white;
  }
  &__logo-2 {
    color: $white;
  }
  &__logo-3 {
    background: rgb(218, 218, 218);
    color: $white;
  }
}

.bienvenue {
  width: 90%;
  @include breakpoints_desktop {
    width: 45%;
    margin-left: 70px;
    margin-top: 20px;
    animation: img_bienvenue 3s;
  }
  &__source {
    display: none;
    @include breakpoints_desktop {
      display: flex;
      width: 100%;
      margin: 20px 0px 0px 0px;
    }
  }
}

.souris {
  display: none;
  @include breakpoints_desktop {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 260px;
  }
}

.mouse_scroll {
  display: block;
  width: 24px;
  height: 100px;
  margin-top: 40px;
  animation: none;
  @include breakpoints_desktop {
    margin-top: 0;
    animation: mouse_scroll 3s;
  }
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.jour .m_scroll_arrows {
  border-right: 2px solid $black;
  border-bottom: 2px solid $black;
}

.nuit .m_scroll_arrows {
  border-right: 2px solid $white;
  border-bottom: 2px solid $white;
}

.un {
  margin-top: 1px;
}

.un,
.deux,
.trois {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.un {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: 0.1s;
}

.deux {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trois {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  top: 170px;
}

.jour .mouse {
  border: 2px solid $black;
}

.nuit .mouse {
  border: 2px solid $white;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  position: relative;
  height: 4px;
  width: 4px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.jour .wheel {
  border: 2px solid $black;
}

.nuit .wheel {
  border: 2px solid $white;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}
