.introduction {
  @include flexbox;
  flex-direction: column;
  padding-top: 100px;
  @include breakpoints_desktop {
    flex-direction: row;
    margin-bottom: -40px;
  }
  &__presentation {
    margin-top: 20px;
    width: 90%;
    @include breakpoints_desktop {
      width: 45%;
      animation: présentation 3s;
      margin-top: 0;
    }
  }
  &__titre {
    @include flexbox;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: $color-text;
    @include breakpoints_desktop {
      width: 90%;
      font-size: 24px;
      margin: auto;
    }
  }
  &__container-logo {
    display: none;
    @include breakpoints_desktop {
      display: flex;
    }
  }
  &__logo-mobile {
    margin-top: 20px;
    width: 500px;
    height: auto;
    max-width: 100%;
    @include breakpoints_desktop {
      display: none;
    }
  }
  &__logo {
    display: none;
    width: 100%;
    margin: 0 0 20px 0;
    @include breakpoints_desktop {
      @include flexbox;
      width: 70%;
      height: 200px;
      margin: 40px auto;
      background-image: $background-image;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &__texte {
    @include flexbox;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: $color-text;
    @include breakpoints_desktop {
      font-size: 20px;
      width: 90%;
      margin: auto;
    }
  }
  &__font-contact {
    display: inline-block;
    padding: 0.5em 1.2em;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin: 25px 10px 10px 10px;
    color: $white;
    background: $background-linear-gradient;
    white-space: nowrap;
    font-size: 17px;
    @include breakpoints_desktop {
      border-radius: 8px;
      margin: 30px 0 0 0;
    }
    &:hover {
      @include breakpoints_desktop {
        background: #08b7a2;
      }
    }
  }
}

// Barre latérale
.barre_container {
  display: none;
  @include breakpoints_desktop {
    @include flexbox;
  }
}

.barre {
  @include flexbox;
  flex-direction: column;
  width: 10%;
  &__reseau-social {
    border: 2px solid $color-text;
    background: $background-border-reseau;
    border-radius: 40px;
    position: absolute;
    margin: -220px 0 0 70px;
    padding: 20px 5px 5px 5px;
    animation: mouse_scroll 3s;
  }
  &__logo-1,
  &__logo-2,
  &__logo-3 {
    border: 2px solid $color-text;
    background: $white;
    border-radius: 100px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    margin-top: 0;
    &:hover {
      transform: scale(1.2);
      border-color: #08b7a2;
    }
  }
}

.nuit .barre__logo-3 {
  background: #dadada;
}

// Section bienvenue
.bienvenue {
  width: 90%;
  @include breakpoints_desktop {
    width: 45%;
    margin-left: 70px;
    margin-top: 20px;
    animation: img_bienvenue 3s;
  }
  &__source {
    display: none;
    @include breakpoints_desktop {
      display: flex;
      width: 100%;
      margin: 20px 0 0;
    }
  }
}

// Souris de défilement
.souris {
  display: none;
  @include breakpoints_desktop {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 260px;
  }
}

// Animations du défilement
.mouse_scroll {
  display: block;
  width: 24px;
  height: 100px;
  margin-top: 40px;
  animation: none;
  @include breakpoints_desktop {
    margin-top: 0;
    animation: mouse_scroll 3s;
  }
}

.m_scroll_arrows {
  display: block;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  margin: 0 0 3px 4px;
  border-right: 2px solid $color-text;
  border-bottom: 2px solid $color-text;
}

// Flèches de défilement avec animation
.un,
.deux,
.trois {
  animation: mouse-scroll 1s infinite alternate;
  -webkit-animation: mouse-scroll 1s infinite alternate;
  -moz-animation: mouse-scroll 1s infinite alternate;
  &.un {
    animation-delay: 0.1s;
    margin-top: 1px;
  }
  &.deux {
    animation-delay: 0.2s;
    margin-top: -6px;
  }
  &.trois {
    animation-delay: 0.3s;
    margin-top: -6px;
  }
}

// Styles de la souris
.mouse {
  width: 24px;
  height: 42px;
  border-radius: 14px;
  border: 2px solid $color-text;
}

.wheel {
  height: 4px;
  width: 4px;
  display: block;
  margin: 5px auto;
  position: relative;
  border-radius: 8px;
  border: 2px solid $color-text;
  animation: mouse-wheel 0.6s linear infinite;
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}
