.projets {
  padding-top: 110px;
  text-align: center;
}

.carrousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.carrousel_img {
  margin: 0 10px;
  position: relative;
}

.carrousel_left,
.carrousel_right {
  display: none;
  @include breakpoints_desktop {
    display: unset;
  }
}

.center {
  z-index: 2;
}

.computer-frame {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  @include flexbox;
  margin-top: 20px;
  @include breakpoints_desktop {
    width: 450px;
    height: 450px;
  }
}
.project-image-wrapper {
  position: absolute;
  top: 10.1%;
  left: 4.3%;
  width: 91.5%;
  height: 48.1%;
  z-index: 1;
}

.project-image {
  object-fit: cover;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  z-index: 500;
  color: #ffffff;
  margin-top: 174px;
  @include breakpoints_desktop {
    margin-top: 157px;
  }
}

.project-title-left,
.project-title-right {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.nuit .project-title-left,
.nuit .project-title-right {
  color: #ffffff;
}

.arrow {
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 3;
}

.arrow_left {
  left: 6%;
}

.arrow_right {
  right: 6%;
}

.arrow-wrapper {
  background: #151d2a;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-wrapper img {
  width: 20px;
  height: 20px;
}
