.projets {
  padding-top: 110px;
  text-align: center;
}

.carrousel {
  position: relative;
  @include flexbox;
  overflow: hidden;
  width: 100%;
}

.carousel-container {
  @include flexbox;
  width: 100%;
  position: relative;
}

.carrousel_img {
  margin: 0 5px;
  position: relative;
}

.carrousel_left,
.carrousel_right {
  display: none;
  @include breakpoints_desktop {
    display: unset;
  }
}

.carrousel_left img,
.carrousel_right img {
  display: none;
  @include breakpoints_desktop {
    display: unset;
    background: transparent;
    border: 2px solid;
    border-image: linear-gradient(to right, var(--color-border1), var(--color-border2))
      1;
    padding: 10px;
    cursor: pointer;
  }
}

.center {
  z-index: 2;
  @include flexbox;
  @include breakpoints_desktop {
  }
}

.computer-frame {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  @include flexbox;
  margin-top: 10px;
  @include breakpoints_desktop {
    width: 520px;
    height: 520px;
  }
}

.project-image-wrapper {
  position: absolute;
  top: 9.9%;
  left: 4.2%;
  width: 91.6%;
  height: 48.7%;
  z-index: 1;
  cursor: pointer;
}

.project-image {
  object-fit: cover;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  z-index: 500;
  color: $white;
  margin-top: 105px;
  @include breakpoints_desktop {
    margin-top: 182px;
    background: rgba(112, 112, 112, 0.167);
  }
}

.project-title-left,
.project-title-right {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--color-text);
}

.arrow {
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 3;
}

.arrow_left {
  left: 3%;
  @include breakpoints_desktop {
    left: 5%;
  }
}

.arrow_right {
  right: 3%;
  @include breakpoints_desktop {
    right: 5%;
  }
}

.arrow-wrapper {
  background: #000000a0;
  border-radius: 50%;
  padding: 10px;
  @include flexbox;
}

.arrow-wrapper img {
  width: 20px;
  height: 20px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  @include flexbox;
  z-index: 4;
}

.popup-content {
  background: var(--color-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 80%;
  margin-top: 80px;
  @include flexbox;
  flex-direction: column;
  @include breakpoints_desktop {
    width: 90%;
    height: 80%;
    margin-top: 80px;
  }
}

.close-button {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 40px;
  color: var(--color-text);
  cursor: pointer;
  @include breakpoints_desktop {
    top: 10px;
    bottom: unset;
    right: 20px;
  }
}

.project-text,
.project-description {
  color: var(--color-text);
}

.project-text {
  margin-top: -100px;
  @include breakpoints_desktop {
    margin-top: 40px;
  }
}

.project-description {
  margin-top: 260px;
  width: 90%;
  @include breakpoints_desktop {
    margin-top: 330px;
    width: 80%;
  }
}

.popup-frame {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  @include flexbox;
  margin-top: -100px;
  @include breakpoints_desktop {
    width: 500px;
    height: 500px;
    margin-top: -105px;
    margin-left: 20px;
  }
}

.popup-image-wrapper {
  position: absolute;
  top: 33.5%;
  left: 16.7%;
  width: 200px;
  height: 125.5px;
  z-index: 1;
  cursor: pointer;
  @include breakpoints_desktop {
    top: 28.1%;
    left: 16.7%;
    width: 333px;
    height: 207.5px;
  }
}
