.section_2 {
  @include flexbox;
  flex-direction: column;
  padding-top: 110px;
  @include breakpoints_desktop {
    display: block;
    flex-direction: unset;
    margin-bottom: -40px;
  }
}

.stitre {
  font-size: 24px;
  font-weight: 600;
  color: $color-text;
}

.texte {
  @include flexbox;
  flex-direction: column;
  margin-left: 0;
  text-align: center;
  width: 90%;
  padding: 0px 10px 0px 10px;
  font-size: 16px;
  font-weight: 300;
  @include breakpoints_desktop {
    width: 46%;
    margin-left: 80px;
    margin-top: 30px;
    padding: 0;
  }
}

.texte p {
  margin-bottom: 15px;
  color: $color-text;
}

.qui_suis-je {
  @include flexbox;
  flex-direction: column;
  margin-top: 40px;
  @include breakpoints_desktop {
    margin-top: 0;
    flex-direction: row;
  }
}

.about-me {
  width: 250px;
  height: auto;
  max-width: 100%;
  margin-bottom: 35px;
  @include breakpoints_desktop {
    width: 360px;
    margin-top: 50px;
  }
}

.me {
  width: 100%;
  height: auto;
  box-shadow: 0 0 0 10px #08a9df;
  border: 10px solid green;
  border-radius: 500px;
  @include breakpoints_desktop {
    height: 360px;
  }
}
