.btn {
    display: inline-block;
    padding: 0.5em 1.2em;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin: 40px 10px 10px 10px;
  }

  .btn-primary {
    color: $white;
    background: $background-linear-gradient;
  }

  .btn-primary:hover {
    background: #05e0c6;
    transition: 0.3s ease-in-out;
  }

.close-btn {
  background: $background-linear-gradient;
  color: $white;
  border: 0;
  padding: 7px 10px 7px 10px;
  font-size: 14px;
  border-radius: 8px;
  &:hover {
    background: #05e0c6;
  }
}