:root {
  --color-text: #000;
  --color-bg: #fff;
}

.nuit {
  --color-text: #fff;
  --color-bg: #3b3e42;
}

$color-primaire: #9356dc;
$color-secondaire: #ff79da;
$color-tertiaire: #99e2d0;

$white: white;
$color-shadow: #bbb;
$color-background: #f6f6f6;
$black: black;
$gray: #eaeaea;
$color-form: #cbcbcb;
$nuit: #14141442;
$color-light-gray: #e2e2e2;
$color-icons-fonctionnement: #7d7d7d;

$background-form: linear-gradient($color-form -1%, $gray 7%);
$background-linear-gradient: linear-gradient(
      180deg,
      #05e0c6 0%,
      rgba(82, 101, 137, 0.64) 100%
    )
    padding-box,
  linear-gradient(180deg, #05e0c6 0%, rgba(82, 101, 137, 0.64) 100%) border-box;

$breakpoints_desktop: (
  laptop: 992px,
  desktop: 1280px,
);

$breakpoints_large: (
  l: 425px,
  lm: 767px
);